* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px; 
  box-sizing: border-box; 
}
.container {
  max-width: 1400px;
  margin:0 auto;
}
.grid {
  display: flex; 
  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row; 
  }
  &__item-6 {
    width: 50%; 
  }
  &__item-4 {
    width: 25%; 
  }
}
  

