section.footer.section.fp-auto-height
  .container 
    .footer__content
      .footer__content-logo
        img(src="img/footer/logo-header.png" alt="logo")
        .footer__content-logo-disc Дисклеймер компании
      .footer__content-site 
        .footer__content-site-disc мы в соцсетях
        a(href="#")
          i.fa.fa-instagram
        a(href="#")
          i.fa.fa-twitter
        a(href="#")
          i.fa.fa-facebook
      .footer__content-address 
        .footer__content-address-disc аДРЕС
        .footer__content-address-discm г. Минск, ул. Скрыганова, 6А, <br>4 этаж
  section.copyrights
    .copyrights__block Copyrights 2015 © Webcom Media
script(src="js/fullPage.js")
script(src="js/menu.js")
script(src="js/zakaz.js")