section.header.section.active
  .container
    .header__title.slide 
      h1 ГЛАВНЫЙ ЗАГОЛОВОK
      img(src="img/header/hr.png", alt="hr")
      p 
        |Lorem ipsum dolor sit amet, consectetur adipisicing<br>
        |elit, sed do eiusmod tempor incididunt<br>
        |ut labore et doloremagna aliqua
      a#make(href="#") оформить заявку
    .header__title.slide 
      h1 ГЛАВНЫЙ ЗАГОЛОВОK
      p 
        |Lorem ipsum dolor sit amet, consectetur adipisicing<br>
        |elit, sed do eiusmod tempor incididunt<br>
        |ut labore et doloremagna aliqua2
      a(href="#") оформить заявку
    .header__title.slide 
      h1 ГЛАВНЫЙ ЗАГОЛОВОK
      p 
        |Lorem ipsum dolor sit amet, consectetur adipisicing<br>
        |elit, sed do eiusmod tempor incididunt<br>
        |ut labore et doloremagna aliqua
      a(href="#") оформить заявку
    .header__title.slide 
      h1 ГЛАВНЫЙ ЗАГОЛОВОK
      p 
        |Lorem ipsum dolor sit amet, consectetur adipisicing<br>
        |elit, sed do eiusmod tempor incididunt<br>
        |ut labore et doloremagna aliqua2
      a(href="#") оформить заявку
    .header__title.slide 
      h1 ГЛАВНЫЙ ЗАГОЛОВОK
      p 
        |Lorem ipsum dolor sit amet, consectetur adipisicing<br>
        |elit, sed do eiusmod tempor incididunt<br>
        |ut labore et doloremagna aliqua2
      a(href="#") оформить заявку
    button#moveDown
    .form__block#form__block
      .review__input
        .review__input-title ВАШЕ ИМЯ
          input(type="text" placeholder="Иванов Иван")
        .review__input-title E-MAIL
          input(type="text" placeholder="example@mysite.com")
        .review__input-title ВАША ДОЛЖНОСТЬ
          input(type="text" placeholder="Должность")
          input(type="submit" value="отправить" class="submit")


