section.fix
  .header__fixed
    .container
      .header__block
        .header__logo
          a(href="#")
            img(src="img/header/logo-header.png", alt="logo" width="160px" height="40px")
        .header__menu
          ul.header__menu-ul 
            li
              a.header__menu-a(href="#header") главная
            li 
              a.header__menu-a(href="#work") портфолио
            li 
              a.header__menu-a(href="#why") преимущества
            li 
              a.header__menu-a(href="#") схема работы
            li 
              a.header__menu-a(href="#review") отзывы
            li 
              a.header__menu-a(href="#footer") контакты
        .header__contact
          a(href="#") +375 (29) 123-45-67<br>
          a(href="#") +375 (29) 123-45-67
        button.header__btn#btn
          i.fa.fa-align-justify