section.review.section
  .container
    .review__block
      .review__block-title 
        h2 оставьте отзыв
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
      .review__forms
        .review__form
          .review__form-title НАШ АДРЕС
          .review__form-disc г.Минск, ул. Скрыганова, 6А, 4 этаж 
          .review__form-title звоните
          .review__form-disc +375 (29) 123-45-67,  +375 (33) 123-45-67 
          .review__form-title ПИШИТЕ
          .review__form-disc info@promo-webcom.by
        .review__input
          .review__input-title ВАШЕ ИМЯ
          input(type="text" placeholder="Иванов Иван")
          .review__input-title E-MAIL
          input(type="text" placeholder="example@mysite.com")
          .review__input-title ВАША ДОЛЖНОСТЬ
          input(type="text" placeholder="Должность")
          .review__input-title ОТЗЫВ
          textarea(name="review", rows="5")( placeholder="Ваше сообщение")
          .review__form-file
            img(src="img/review/file.png", alt="file add")
            input(type="file")
          .review__input-title ВВЕДИТЕ КОД С КАРТИНКИ
          input(type="text" class="input_capt")
          img(src="img/review/cod.png")
          input(type="submit" value="отправить" class="submit")
      button#moveUp 

        
    