section.why.section
  .container
    .why__block
      .why__block-title 
        h2 ПОЧЕМУ МЫ
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
      .why__blocks-group 
        .why__blocks 
            img(src="img/why/monitor.png" alt="icon")
            .why__blocks-title преимущество 1
            .why__blocks-disc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        .why__blocks 
            img(src="img/why/monitor.png" alt="icon")
            .why__blocks-title преимущество 1
            .why__blocks-disc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        .why__blocks 
            img(src="img/why/monitor.png" alt="icon")
            .why__blocks-title преимущество 1
            .why__blocks-disc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        .why__blocks 
            img(src="img/why/monitor.png" alt="icon")
            .why__blocks-title преимущество 1
            .why__blocks-disc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        .why__blocks 
            img(src="img/why/monitor.png" alt="icon")
            .why__blocks-title преимущество 1
            .why__blocks-disc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        .why__blocks 
            img(src="img/why/monitor.png" alt="icon")
            .why__blocks-title преимущество 1
            .why__blocks-disc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        .why__blocks 
            img(src="img/why/monitor.png" alt="icon")
            .why__blocks-title преимущество 1
            .why__blocks-disc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        .why__blocks 
            img(src="img/why/monitor.png" alt="icon")
            .why__blocks-title преимущество 1
            .why__blocks-disc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium