section.work.section
  .container 
    .work__block
      .work__block-title 
        h2 наша работа
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et<br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
      .work__cards
        .work__item
          a(href="#")
            img(src="img/work/work-card.png" alt="card1")
            .work__cards-disc 
              h3 название работы
              p описание работы
        .work__item
          a(href="#")
            img(src="img/work/work-card.png" alt="card1")
            .work__cards-disc 
              h3 название работы
              p описание работы
        .work__item
          a(href="#")
            img(src="img/work/work-card.png" alt="card1")
            .work__cards-disc 
              h3 название работы
              p описание работы
        .work__item
          a(href="#")
            img(src="img/work/work-card.png" alt="card1")
            .work__cards-disc 
              h3 название работы
              p описание работы
        .work__item
          a(href="#")
            img(src="img/work/work-card.png" alt="card1")
            .work__cards-disc 
              h3 название работы
              p описание работы
        .work__item
          a(href="#")
            img(src="img/work/work-card.png" alt="card1")
            .work__cards-disc 
              h3 название работы
              p описание работы
